---
// TextCenteredImpact — recovered from blurr-components.pages.dev
---

<div class="tx-ci" data-astro-cid-rjngamop> <p class="tx-ci__text" data-astro-cid-rjngamop>Jouw concurrenten adverteren al. De vraag is: wie adverteert slimmer?</p> <p class="tx-ci__sub" data-astro-cid-rjngamop>BLURR maakt het verschil.</p> </div>


