---
// TextCaption — recovered from blurr-components.pages.dev
---

<figure class="tx-cap" data-astro-cid-wmaoizfe> <figcaption class="tx-cap__caption" data-astro-cid-wmaoizfe> <span class="tx-cap__text" data-astro-cid-wmaoizfe>Ons team tijdens de lancering van de BLURR Growth Sprint.</span> <span class="tx-cap__source" data-astro-cid-wmaoizfe>Foto: BLURR archief</span> </figcaption> </figure>


