---
// TextQuote — recovered from blurr-components.pages.dev
---

<blockquote class="tquote-wrap" data-astro-cid-io6zoz55> <span class="tquote-mark" data-astro-cid-io6zoz55>"</span> <p class="tquote-text" data-astro-cid-io6zoz55>Dankzij BLURR groeide ons verkeer met 280% in zes maanden.</p> <footer class="tquote-footer" data-astro-cid-io6zoz55> <span class="tquote-author" data-astro-cid-io6zoz55>Mark de Vries</span> <span class="tquote-role" data-astro-cid-io6zoz55>CEO TechFlow</span> </footer> </blockquote>


