---
// TextCode — recovered from blurr-components.pages.dev
---

<div class="tx-code" data-astro-cid-ioob3ba7> <div class="tx-code__header" data-astro-cid-ioob3ba7> <span class="tx-code__lang" data-astro-cid-ioob3ba7>javascript</span> <span class="tx-code__label" data-astro-cid-ioob3ba7>ROI berekening</span> </div> <pre class="tx-code__pre" data-astro-cid-ioob3ba7><code class="tx-code__code" data-astro-cid-ioob3ba7>const roi = (revenue - adSpend) / adSpend * 100;</code></pre> </div>


