---
// TextLetter — recovered from blurr-components.pages.dev
---

<div class="tx-letter" data-astro-cid-nwdg6wo4> <p class="tx-letter__greeting" data-astro-cid-nwdg6wo4>Beste ondernemer,</p> <p class="tx-letter__para" data-astro-cid-nwdg6wo4>Je kent het gevoel: je investeert in advertenties maar weet niet of het werkt.</p> <p class="tx-letter__closing" data-astro-cid-nwdg6wo4>Met vriendelijke groet,</p> <p class="tx-letter__sig" data-astro-cid-nwdg6wo4>Team BLURR</p> </div>


