---
// TextMark — recovered from blurr-components.pages.dev
---

<p class="tx-mark" data-astro-cid-kyv2kng3> <span data-astro-cid-kyv2kng3>Met de juiste strategie kan elk bedrijf online groeien. Maar </span><mark class="tx-mark__mark" data-astro-cid-kyv2kng3>zonder data ben je blind.</mark> </p>


