---
// TextPullQuote — recovered from blurr-components.pages.dev
---

<figure class="tx-pq" data-astro-cid-ckthda3v> <blockquote class="tx-pq__quote" data-astro-cid-ckthda3v> <span class="tx-pq__mark" aria-hidden="true" data-astro-cid-ckthda3v>"</span> Dankzij BLURR groeide ons verkeer met 280% in zes maanden. </blockquote> <figcaption class="tx-pq__caption" data-astro-cid-ckthda3v> <span class="tx-pq__name" data-astro-cid-ckthda3v>Mark de Vries</span> <span class="tx-pq__role" data-astro-cid-ckthda3v>CEO TechFlow</span> </figcaption> </figure>


