---
// TextAnnotated — recovered from blurr-components.pages.dev
---

<div class="tx-ann" data-astro-cid-igj6r75e> <p class="tx-ann__body" data-astro-cid-igj6r75e>BLURR heeft onze conversieratio verdubbeld in drie maanden.</p> <aside class="tx-ann__note" data-astro-cid-igj6r75e> <strong class="tx-ann__label" data-astro-cid-igj6r75e>Noot</strong> <p class="tx-ann__text" data-astro-cid-igj6r75e>Gemeten over Q1 2025 t.o.v. Q1 2024.</p> </aside> </div>


