---
// ListNumbered — recovered from blurr-components.pages.dev
---

<ol class="lst-num" data-astro-cid-xjbzruc2> <li class="lst-num__item" data-astro-cid-xjbzruc2> <span class="lst-num__n" data-astro-cid-xjbzruc2>01</span> <div class="lst-num__body" data-astro-cid-xjbzruc2> <strong class="lst-num__title" data-astro-cid-xjbzruc2>Intake &amp; analyse</strong> <p class="lst-num__desc" data-astro-cid-xjbzruc2>We leren jouw business grondig kennen.</p> </div> </li><li class="lst-num__item" data-astro-cid-xjbzruc2> <span class="lst-num__n" data-astro-cid-xjbzruc2>02</span> <div class="lst-num__body" data-astro-cid-xjbzruc2> <strong class="lst-num__title" data-astro-cid-xjbzruc2>Strategie opstellen</strong> <p class="lst-num__desc" data-astro-cid-xjbzruc2>Maatwerk plan op basis van data.</p> </div> </li><li class="lst-num__item" data-astro-cid-xjbzruc2> <span class="lst-num__n" data-astro-cid-xjbzruc2>03</span> <div class="lst-num__body" data-astro-cid-xjbzruc2> <strong class="lst-num__title" data-astro-cid-xjbzruc2>Campagne lanceren</strong> <p class="lst-num__desc" data-astro-cid-xjbzruc2>Live gaan met bewezen formats.</p> </div> </li><li class="lst-num__item" data-astro-cid-xjbzruc2> <span class="lst-num__n" data-astro-cid-xjbzruc2>04</span> <div class="lst-num__body" data-astro-cid-xjbzruc2> <strong class="lst-num__title" data-astro-cid-xjbzruc2>Meten &amp; optimaliseren</strong> <p class="lst-num__desc" data-astro-cid-xjbzruc2>Continu verbeteren op basis van resultaten.</p> </div> </li> </ol>


