---
// ListIcons — recovered from blurr-components.pages.dev
---

<ul class="lst-ico" data-astro-cid-drpvpivf> <li class="lst-ico__item" data-astro-cid-drpvpivf> <span class="lst-ico__icon" data-astro-cid-drpvpivf>🎯</span> <span class="lst-ico__text" data-astro-cid-drpvpivf>Doelgerichte campagnes</span> </li><li class="lst-ico__item" data-astro-cid-drpvpivf> <span class="lst-ico__icon" data-astro-cid-drpvpivf>📊</span> <span class="lst-ico__text" data-astro-cid-drpvpivf>Inzichtelijke rapportages</span> </li><li class="lst-ico__item" data-astro-cid-drpvpivf> <span class="lst-ico__icon" data-astro-cid-drpvpivf>⚡</span> <span class="lst-ico__text" data-astro-cid-drpvpivf>Snelle resultaten</span> </li><li class="lst-ico__item" data-astro-cid-drpvpivf> <span class="lst-ico__icon" data-astro-cid-drpvpivf>🤝</span> <span class="lst-ico__text" data-astro-cid-drpvpivf>Persoonlijk contact</span> </li><li class="lst-ico__item" data-astro-cid-drpvpivf> <span class="lst-ico__icon" data-astro-cid-drpvpivf>💡</span> <span class="lst-ico__text" data-astro-cid-drpvpivf>Creatieve oplossingen</span> </li> </ul>


