---
// ListFilter — recovered from blurr-components.pages.dev
---

<div class="lst-fil" data-astro-cid-ae6qu4nm> <label class="lst-fil__option" data-astro-cid-ae6qu4nm> <input type="radio" name="lst-filter" value="alle" class="lst-fil__radio" checked data-astro-cid-ae6qu4nm> <span class="lst-fil__label" data-astro-cid-ae6qu4nm>Alles</span> </label><label class="lst-fil__option" data-astro-cid-ae6qu4nm> <input type="radio" name="lst-filter" value="ads" class="lst-fil__radio" data-astro-cid-ae6qu4nm> <span class="lst-fil__label" data-astro-cid-ae6qu4nm>Advertenties</span> </label><label class="lst-fil__option" data-astro-cid-ae6qu4nm> <input type="radio" name="lst-filter" value="seo" class="lst-fil__radio" data-astro-cid-ae6qu4nm> <span class="lst-fil__label" data-astro-cid-ae6qu4nm>SEO</span> </label><label class="lst-fil__option" data-astro-cid-ae6qu4nm> <input type="radio" name="lst-filter" value="social" class="lst-fil__radio" data-astro-cid-ae6qu4nm> <span class="lst-fil__label" data-astro-cid-ae6qu4nm>Social</span> </label><label class="lst-fil__option" data-astro-cid-ae6qu4nm> <input type="radio" name="lst-filter" value="content" class="lst-fil__radio" data-astro-cid-ae6qu4nm> <span class="lst-fil__label" data-astro-cid-ae6qu4nm>Content</span> </label> </div>


