---
// ListHorizontal — recovered from blurr-components.pages.dev
---

<div class="lst-hor" data-astro-cid-pv4ejmpe> <ul class="lst-hor__list" data-astro-cid-pv4ejmpe> <li class="lst-hor__item" data-astro-cid-pv4ejmpe> <span class="lst-hor__label" data-astro-cid-pv4ejmpe>Google Ads</span> <span class="lst-hor__value" data-astro-cid-pv4ejmpe>Specialist</span> </li><li class="lst-hor__item" data-astro-cid-pv4ejmpe> <span class="lst-hor__label" data-astro-cid-pv4ejmpe>Meta Ads</span> <span class="lst-hor__value" data-astro-cid-pv4ejmpe>Certified</span> </li><li class="lst-hor__item" data-astro-cid-pv4ejmpe> <span class="lst-hor__label" data-astro-cid-pv4ejmpe>SEO</span> <span class="lst-hor__value" data-astro-cid-pv4ejmpe>Expert</span> </li><li class="lst-hor__item" data-astro-cid-pv4ejmpe> <span class="lst-hor__label" data-astro-cid-pv4ejmpe>Analytics</span> <span class="lst-hor__value" data-astro-cid-pv4ejmpe>GA4</span> </li> </ul> </div>


