---
// ListMinimal — recovered from blurr-components.pages.dev
---

<ul class="lst-min" data-astro-cid-neprtsvm> <li class="lst-min__item" data-astro-cid-neprtsvm>Strategie &amp; consultancy</li><li class="lst-min__item" data-astro-cid-neprtsvm>SEO &amp; content marketing</li><li class="lst-min__item" data-astro-cid-neprtsvm>Google &amp; Meta Ads</li><li class="lst-min__item" data-astro-cid-neprtsvm>Webdesign &amp; development</li><li class="lst-min__item" data-astro-cid-neprtsvm>E-mail &amp; marketing automation</li> </ul>


