---
// CtaMinimal — recovered from blurr-components.pages.dev
---

<div class="ctm__wrap ctm__align-center ctm__size-lg" data-astro-cid-vseyb53t> <p class="ctm__text" data-astro-cid-vseyb53t> <span class="ctm__phrase" data-astro-cid-vseyb53t>Klaar om te groeien?</span>   <a class="ctm__link" href="#" data-astro-cid-vseyb53t>Plan een gratis gesprek →</a> </p> </div>


