---
// HeadingDark — recovered from blurr-components.pages.dev
---

<div class="hd-dark" data-astro-cid-ykb6kwwb> <span class="hd-dark__eyebrow" data-astro-cid-ykb6kwwb>Partners</span> <h2 class="hd-dark__title" data-astro-cid-ykb6kwwb>Samen bouwen we iets groots</h2> <p class="hd-dark__sub" data-astro-cid-ykb6kwwb>Meer dan 80 bedrijven kozen BLURR als hun digitale partner.</p> </div>


