---
// HeadingLarge — recovered from blurr-components.pages.dev
---

<div class="hd-large" data-astro-cid-amo2ca43> <h1 class="hd-large__title" data-astro-cid-amo2ca43>Wij maken merken onvergetelijk</h1> <p class="hd-large__sub" data-astro-cid-amo2ca43>BLURR — digitaal bureau voor ambitieuze bedrijven</p> </div>


