---
// HeadingWide — recovered from blurr-components.pages.dev
---

<div class="hd-wide" data-astro-cid-n3l653qf> <div class="hd-wide__meta" data-astro-cid-n3l653qf> <span class="hd-wide__kicker" data-astro-cid-n3l653qf>Exclusief interview</span> <span class="hd-wide__date" data-astro-cid-n3l653qf>14 april 2025</span> </div> <h1 class="hd-wide__title" data-astro-cid-n3l653qf>Hoe BLURR in 3 jaar uitgroeide tot het snelstgroeiende marketingbureau van Nederland</h1> <div class="hd-wide__rule" data-astro-cid-n3l653qf></div> </div>


