---
// HeadingNumber — recovered from blurr-components.pages.dev
---

<div class="hd-number" data-astro-cid-lcr76io6> <span class="hd-number__num" data-astro-cid-lcr76io6>01</span> <div class="hd-number__content" data-astro-cid-lcr76io6> <h2 class="hd-number__title" data-astro-cid-lcr76io6>Strategie &amp; Analyse</h2> <p class="hd-number__sub" data-astro-cid-lcr76io6>We starten altijd met diepgaand onderzoek naar jouw markt.</p> </div> </div>


