---
// HeadingTag — recovered from blurr-components.pages.dev
---

<div class="hd-tag" data-astro-cid-gnhxadlb> <span class="hd-tag__tag" data-astro-cid-gnhxadlb>Case study</span> <h2 class="hd-tag__title" data-astro-cid-gnhxadlb>Van 0 naar 3,2 miljoen omzet in 18 maanden</h2> <p class="hd-tag__desc" data-astro-cid-gnhxadlb>Hoe een lokale retailer met BLURR&#39;s e-commerce aanpak landelijk marktleider werd.</p> </div>


