---
// VideoEmbed2 — recovered from blurr-components.pages.dev
---

<figure class="ve2" data-astro-cid-okqixzbz> <div class="ve2__wrap" style="padding-bottom: 56.25%" data-astro-cid-okqixzbz> <iframe class="ve2__iframe" src="https://www.youtube.com/embed/dQw4w9WgXcQ" title="Ingesloten video" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen data-astro-cid-okqixzbz></iframe> </div> <figcaption class="ve2__caption" data-astro-cid-okqixzbz>BLURR presentatie op het Digital Marketing Summit 2025.</figcaption> </figure>


