---
// FooterMinimal — recovered from blurr-components.pages.dev
---

<footer class="fm" data-astro-cid-zgdota56> <div class="fm-inner" data-astro-cid-zgdota56> <a href="/" class="fm-logo" data-astro-cid-zgdota56>BLURR</a> <nav class="fm-links" data-astro-cid-zgdota56> <a href="#" class="fm-link" data-astro-cid-zgdota56>Privacy</a><a href="#" class="fm-link" data-astro-cid-zgdota56>Voorwaarden</a><a href="#" class="fm-link" data-astro-cid-zgdota56>Contact</a> </nav> <p class="fm-copy" data-astro-cid-zgdota56>© 2025 BLURR</p> </div> </footer>


