---
// FooterMinimalDark — recovered from blurr-components.pages.dev
---

<footer class="fmd" data-astro-cid-f75f56jn> <div class="fmd-inner" data-astro-cid-f75f56jn> <a href="/" class="fmd-logo" data-astro-cid-f75f56jn>BLURR</a> <nav class="fmd-links" data-astro-cid-f75f56jn> <a href="#" class="fmd-link" data-astro-cid-f75f56jn>Diensten</a><a href="#" class="fmd-link" data-astro-cid-f75f56jn>Cases</a><a href="#" class="fmd-link" data-astro-cid-f75f56jn>Privacy</a><a href="#" class="fmd-link" data-astro-cid-f75f56jn>Contact</a> </nav> <p class="fmd-copy" data-astro-cid-f75f56jn>© 2025 BLURR</p> </div> </footer>


