---
// FooterSticky — recovered from blurr-components.pages.dev
---

<footer class="fs" data-astro-cid-7avcmcp6> <div class="fs-inner" data-astro-cid-7avcmcp6> <span class="fs-logo" data-astro-cid-7avcmcp6>BLURR</span> <nav class="fs-nav" data-astro-cid-7avcmcp6> <a href="#" class="fs-link" data-astro-cid-7avcmcp6>Diensten</a><a href="#" class="fs-link" data-astro-cid-7avcmcp6>Cases</a><a href="#" class="fs-link" data-astro-cid-7avcmcp6>Privacy</a> </nav> <div class="fs-right" data-astro-cid-7avcmcp6> <span class="fs-copy" data-astro-cid-7avcmcp6>© 2025 BLURR</span> <a href="#" class="fs-cta" data-astro-cid-7avcmcp6>Plan gesprek</a> </div> </div> </footer>


