---
// NavAccent — recovered from blurr-components.pages.dev
---

<header class="nac" style="--ac:#6366f1" data-astro-cid-g5nuffnu> <div class="nac-stripe" data-astro-cid-g5nuffnu></div> <nav class="nac-inner" data-astro-cid-g5nuffnu> <a href="/" class="nac-logo" data-astro-cid-g5nuffnu>BLURR</a> <ul class="nac-links" data-astro-cid-g5nuffnu> <li data-astro-cid-g5nuffnu><a href="#" class="nac-link nac-link--active" data-astro-cid-g5nuffnu>Diensten</a></li><li data-astro-cid-g5nuffnu><a href="#" class="nac-link" data-astro-cid-g5nuffnu>Cases</a></li><li data-astro-cid-g5nuffnu><a href="#" class="nac-link" data-astro-cid-g5nuffnu>Over ons</a></li><li data-astro-cid-g5nuffnu><a href="#" class="nac-link" data-astro-cid-g5nuffnu>Blog</a></li> </ul> <a href="#" class="nac-cta" data-astro-cid-g5nuffnu>Contact</a> </nav> </header>


