---
// NavBreadcrumb — recovered from blurr-components.pages.dev
---

<div class="nb" data-astro-cid-wnnkx37k> <header class="nb-nav" data-astro-cid-wnnkx37k> <div class="nb-nav-inner" data-astro-cid-wnnkx37k> <a href="/" class="nb-logo" data-astro-cid-wnnkx37k>BLURR</a> <ul class="nb-links" data-astro-cid-wnnkx37k> <li data-astro-cid-wnnkx37k><a href="#" class="nb-link" data-astro-cid-wnnkx37k>Diensten</a></li><li data-astro-cid-wnnkx37k><a href="#" class="nb-link" data-astro-cid-wnnkx37k>Blog</a></li><li data-astro-cid-wnnkx37k><a href="#" class="nb-link" data-astro-cid-wnnkx37k>Contact</a></li> </ul> </div> </header> <nav class="nb-bread" aria-label="Breadcrumb" data-astro-cid-wnnkx37k> <div class="nb-bread-inner" data-astro-cid-wnnkx37k> <ol class="nb-crumbs" data-astro-cid-wnnkx37k> <li class="nb-crumb" data-astro-cid-wnnkx37k> <a href="/" class="nb-crumb-link" data-astro-cid-wnnkx37k>Home</a> <span class="nb-sep" data-astro-cid-wnnkx37k>/</span> </li><li class="nb-crumb" data-astro-cid-wnnkx37k> <a href="/blog" class="nb-crumb-link" data-astro-cid-wnnkx37k>Blog</a> <span class="nb-sep" data-astro-cid-wnnkx37k>/</span> </li><li class="nb-crumb" data-astro-cid-wnnkx37k> <span class="nb-crumb-current" data-astro-cid-wnnkx37k>Google Ads strategie voor 2025</span>  </li> </ol> </div> </nav> </div>


