---
// NavCentered — recovered from blurr-components.pages.dev
---

<header class="nc nc--white" data-astro-cid-wevoemdd> <nav class="nc-inner" data-astro-cid-wevoemdd> <ul class="nc-links nc-links--left" data-astro-cid-wevoemdd> <li data-astro-cid-wevoemdd><a href="#" class="nc-link" data-astro-cid-wevoemdd>Diensten</a></li><li data-astro-cid-wevoemdd><a href="#" class="nc-link" data-astro-cid-wevoemdd>Cases</a></li> </ul> <a href="/" class="nc-logo" data-astro-cid-wevoemdd>BLURR</a> <ul class="nc-links nc-links--right" data-astro-cid-wevoemdd> <li data-astro-cid-wevoemdd><a href="#" class="nc-link" data-astro-cid-wevoemdd>Blog</a></li><li data-astro-cid-wevoemdd><a href="#" class="nc-link" data-astro-cid-wevoemdd>Prijzen</a></li> <li data-astro-cid-wevoemdd><a href="#" class="nc-cta" data-astro-cid-wevoemdd>Gratis gesprek</a></li> </ul> </nav> </header>


