---
// NavDualLine — recovered from blurr-components.pages.dev
---

<div class="ndl" data-astro-cid-jgkuhpro> <div class="ndl-top" data-astro-cid-jgkuhpro> <div class="ndl-top-inner" data-astro-cid-jgkuhpro> <div class="ndl-top-links" data-astro-cid-jgkuhpro> <a href="#" class="ndl-top-link" data-astro-cid-jgkuhpro>Privacy</a><a href="#" class="ndl-top-link" data-astro-cid-jgkuhpro>Algemene voorwaarden</a> </div> <div class="ndl-top-right" data-astro-cid-jgkuhpro> <span class="ndl-phone" data-astro-cid-jgkuhpro>📞 020 123 45 67</span> <a href="#" class="ndl-cta" data-astro-cid-jgkuhpro>Gratis gesprek</a> </div> </div> </div> <header class="ndl-main" data-astro-cid-jgkuhpro> <nav class="ndl-main-inner" data-astro-cid-jgkuhpro> <a href="/" class="ndl-logo" data-astro-cid-jgkuhpro>BLURR</a> <ul class="ndl-links" data-astro-cid-jgkuhpro> <li data-astro-cid-jgkuhpro><a href="#" class="ndl-link ndl-link--active" data-astro-cid-jgkuhpro>Diensten</a></li><li data-astro-cid-jgkuhpro><a href="#" class="ndl-link" data-astro-cid-jgkuhpro>Cases</a></li><li data-astro-cid-jgkuhpro><a href="#" class="ndl-link" data-astro-cid-jgkuhpro>Over ons</a></li><li data-astro-cid-jgkuhpro><a href="#" class="ndl-link" data-astro-cid-jgkuhpro>Blog</a></li> </ul> </nav> </header> </div>


