---
// NavFloating — recovered from blurr-components.pages.dev
---

<div class="nf-wrapper" data-astro-cid-jcozqzof> <header class="nf" data-astro-cid-jcozqzof> <a href="/" class="nf-logo" data-astro-cid-jcozqzof>BLURR</a> <ul class="nf-links" data-astro-cid-jcozqzof> <li data-astro-cid-jcozqzof><a href="#" class="nf-link" data-astro-cid-jcozqzof>Diensten</a></li><li data-astro-cid-jcozqzof><a href="#" class="nf-link" data-astro-cid-jcozqzof>Cases</a></li><li data-astro-cid-jcozqzof><a href="#" class="nf-link" data-astro-cid-jcozqzof>Blog</a></li><li data-astro-cid-jcozqzof><a href="#" class="nf-link" data-astro-cid-jcozqzof>Contact</a></li> </ul> <a href="#" class="nf-cta" data-astro-cid-jcozqzof>Gesprek</a> </header> </div>


