---
// NavGlass — recovered from blurr-components.pages.dev
---

<header class="ng" data-astro-cid-mjdgsgz6> <nav class="ng-inner" data-astro-cid-mjdgsgz6> <a href="/" class="ng-logo" data-astro-cid-mjdgsgz6>BLURR</a> <ul class="ng-links" data-astro-cid-mjdgsgz6> <li data-astro-cid-mjdgsgz6><a href="#" class="ng-link" data-astro-cid-mjdgsgz6>Diensten</a></li><li data-astro-cid-mjdgsgz6><a href="#" class="ng-link" data-astro-cid-mjdgsgz6>Cases</a></li><li data-astro-cid-mjdgsgz6><a href="#" class="ng-link" data-astro-cid-mjdgsgz6>Over ons</a></li><li data-astro-cid-mjdgsgz6><a href="#" class="ng-link" data-astro-cid-mjdgsgz6>Blog</a></li> </ul> <a href="#" class="ng-cta" data-astro-cid-mjdgsgz6>Gratis gesprek</a> </nav> </header>


