---
// NavMinimal — recovered from blurr-components.pages.dev
---

<header class="nm" data-astro-cid-fpqm4qot> <nav class="nm-inner" data-astro-cid-fpqm4qot> <a href="/" class="nm-logo" data-astro-cid-fpqm4qot>BLURR</a> <div class="nm-right" data-astro-cid-fpqm4qot> <a href="#" class="nm-link" data-astro-cid-fpqm4qot>Diensten</a><a href="#" class="nm-link" data-astro-cid-fpqm4qot>Cases</a><a href="#" class="nm-link" data-astro-cid-fpqm4qot>Contact</a> <a href="#" class="nm-cta" data-astro-cid-fpqm4qot>Offerte →</a> </div> </nav> </header>


