---
// NavPills — recovered from blurr-components.pages.dev
---

<header class="np" data-astro-cid-jenn53ax> <nav class="np-inner" data-astro-cid-jenn53ax> <a href="/" class="np-logo" data-astro-cid-jenn53ax>BLURR</a> <ul class="np-links" data-astro-cid-jenn53ax> <li data-astro-cid-jenn53ax><a href="#" class="np-link np-link--active" data-astro-cid-jenn53ax>Dashboard</a></li><li data-astro-cid-jenn53ax><a href="#" class="np-link" data-astro-cid-jenn53ax>Campagnes</a></li><li data-astro-cid-jenn53ax><a href="#" class="np-link" data-astro-cid-jenn53ax>Rapporten</a></li><li data-astro-cid-jenn53ax><a href="#" class="np-link" data-astro-cid-jenn53ax>Instellingen</a></li> </ul> <div class="np-actions" data-astro-cid-jenn53ax> <a href="#" class="np-cta" data-astro-cid-jenn53ax>Upgrade</a> </div> </nav> </header>


