---
// NavSplit — recovered from blurr-components.pages.dev
---

<header class="ns" data-astro-cid-hs3ustog> <nav class="ns-inner" data-astro-cid-hs3ustog> <ul class="ns-col ns-col--left" data-astro-cid-hs3ustog> <li data-astro-cid-hs3ustog><a href="#" class="ns-link" data-astro-cid-hs3ustog>Diensten</a></li><li data-astro-cid-hs3ustog><a href="#" class="ns-link" data-astro-cid-hs3ustog>Cases</a></li> </ul> <a href="/" class="ns-logo" data-astro-cid-hs3ustog>BLURR</a> <div class="ns-col ns-col--right" data-astro-cid-hs3ustog> <a href="#" class="ns-link" data-astro-cid-hs3ustog>Blog</a><a href="#" class="ns-link" data-astro-cid-hs3ustog>Contact</a> <a href="#" class="ns-cta" data-astro-cid-hs3ustog>Offerte aanvragen</a> </div> </nav> </header>


