---
// NavTopBar — recovered from blurr-components.pages.dev
---

<div class="ntb" data-astro-cid-m2es5x3o> <div class="ntb-topbar" data-astro-cid-m2es5x3o> <div class="ntb-topbar-inner" data-astro-cid-m2es5x3o> <span class="ntb-info" data-astro-cid-m2es5x3o>Maandag t/m vrijdag, 09:00–17:00</span> <div class="ntb-toplinks" data-astro-cid-m2es5x3o> <a href="mailto:info@blurr.nl" class="ntb-toplink" data-astro-cid-m2es5x3o>info@blurr.nl</a><a href="tel:+31201234567" class="ntb-toplink" data-astro-cid-m2es5x3o>020 123 45 67</a> </div> </div> </div> <header class="ntb-nav" data-astro-cid-m2es5x3o> <div class="ntb-nav-inner" data-astro-cid-m2es5x3o> <a href="/" class="ntb-logo" data-astro-cid-m2es5x3o>BLURR</a> <ul class="ntb-links" data-astro-cid-m2es5x3o> <li data-astro-cid-m2es5x3o><a href="#" class="ntb-link ntb-link--active" data-astro-cid-m2es5x3o>Diensten</a></li><li data-astro-cid-m2es5x3o><a href="#" class="ntb-link" data-astro-cid-m2es5x3o>Cases</a></li><li data-astro-cid-m2es5x3o><a href="#" class="ntb-link" data-astro-cid-m2es5x3o>Over ons</a></li><li data-astro-cid-m2es5x3o><a href="#" class="ntb-link" data-astro-cid-m2es5x3o>Blog</a></li> </ul> <a href="#" class="ntb-cta" data-astro-cid-m2es5x3o>Offerte aanvragen</a> </div> </header> </div>


