---
// NavTransparent — recovered from blurr-components.pages.dev
---

<header class="nt nt--light" id="nav-transparent" data-astro-cid-hdsviit3> <nav class="nt-inner" data-astro-cid-hdsviit3> <a href="/" class="nt-logo" data-astro-cid-hdsviit3>BLURR</a> <ul class="nt-links" data-astro-cid-hdsviit3> <li data-astro-cid-hdsviit3><a href="#" class="nt-link" data-astro-cid-hdsviit3>Diensten</a></li><li data-astro-cid-hdsviit3><a href="#" class="nt-link" data-astro-cid-hdsviit3>Cases</a></li><li data-astro-cid-hdsviit3><a href="#" class="nt-link" data-astro-cid-hdsviit3>Blog</a></li><li data-astro-cid-hdsviit3><a href="#" class="nt-link" data-astro-cid-hdsviit3>Contact</a></li> </ul> <a href="#" class="nt-cta" data-astro-cid-hdsviit3>Gratis gesprek</a> </nav> </header>


