---
// Countdown — recovered from blurr-components.pages.dev
---

<div class="cd cd--md" data-component="countdown" data-target="2026-04-21T11:51:16.489Z" data-expired="De actie is verlopen" data-astro-cid-yssr4pjy> <p class="cd__label" data-astro-cid-yssr4pjy>Aanbieding verloopt over</p> <div class="cd__blocks" data-astro-cid-yssr4pjy> <div class="cd__block" data-astro-cid-yssr4pjy> <span class="cd__value" data-unit="days" data-astro-cid-yssr4pjy>--</span> <span class="cd__unit" data-astro-cid-yssr4pjy>Dagen</span> </div> <span class="cd__sep" data-astro-cid-yssr4pjy>:</span> <div class="cd__block" data-astro-cid-yssr4pjy> <span class="cd__value" data-unit="hours" data-astro-cid-yssr4pjy>--</span> <span class="cd__unit" data-astro-cid-yssr4pjy>Uren</span> </div> <span class="cd__sep" data-astro-cid-yssr4pjy>:</span> <div class="cd__block" data-astro-cid-yssr4pjy> <span class="cd__value" data-unit="minutes" data-astro-cid-yssr4pjy>--</span> <span class="cd__unit" data-astro-cid-yssr4pjy>Minuten</span> </div>  <span class="cd__sep" data-astro-cid-yssr4pjy>:</span> <div class="cd__block" data-astro-cid-yssr4pjy> <span class="cd__value" data-unit="seconds" data-astro-cid-yssr4pjy>--</span> <span class="cd__unit" data-astro-cid-yssr4pjy>Seconden</span> </div>  </div> </div>


