---
// SocialProofBanner — recovered from blurr-components.pages.dev
---

<div class="spb spb--light" data-astro-cid-t7my3cix> <div class="spb-inner" data-astro-cid-t7my3cix> <div class="spb-avatars" data-astro-cid-t7my3cix> <img src="https://i.pravatar.cc/32?img=1" alt="" class="spb-avatar" style="z-index:5" data-astro-cid-t7my3cix><img src="https://i.pravatar.cc/32?img=2" alt="" class="spb-avatar" style="z-index:4" data-astro-cid-t7my3cix><img src="https://i.pravatar.cc/32?img=3" alt="" class="spb-avatar" style="z-index:3" data-astro-cid-t7my3cix><img src="https://i.pravatar.cc/32?img=4" alt="" class="spb-avatar" style="z-index:2" data-astro-cid-t7my3cix> </div> <div class="spb-text" data-astro-cid-t7my3cix> <span class="spb-main" data-astro-cid-t7my3cix>Vertrouwd door 120+ bedrijven</span> <span class="spb-sub" data-astro-cid-t7my3cix>Gemiddeld 4.8/5 tevredenheid</span> </div> <div class="spb-rating" data-astro-cid-t7my3cix> <div class="spb-stars" data-astro-cid-t7my3cix> <span data-astro-cid-t7my3cix>★</span><span data-astro-cid-t7my3cix>★</span><span data-astro-cid-t7my3cix>★</span><span data-astro-cid-t7my3cix>★</span><span data-astro-cid-t7my3cix>★</span> </div> <span class="spb-count" data-astro-cid-t7my3cix>127+ reviews</span> </div> </div> </div>


